#reset-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

label {
    display:inline-block;
    margin: 10px 0;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #2d98df;
    border-radius: 5px;
}
